@model List<TMS.Models.JobList> 
@{
    ViewBag.Title = "Jobs";
}

<section class="content-header">
    <h1>
        New Order
    </h1>
    @*<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>*@
</section>
<section class="content">
@foreach (var item in Model)
{
    <input id="J" name="J" type="hidden" class="form-control" value="@Request.QueryString["J"]">
    <input id="C" name="C" type="hidden" class="form-control" value="@Request.QueryString["C"]">
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">1.Select Order</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>

                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="table-responsive">
                                    <table class="table no-margin">
                                        <thead>
                                            <tr>
                                                <th>Order ID</th>
                                                <th>วันที่รับ</th>
                                                <th>วันที่ส่ง</th>
                                                <th>จำนวน</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          @foreach (var OItem in item.JOrder)
                                        {
                                            String Status = "";
                                            String SClass = "";
                                            if (OItem.Status == 1)
                                            {
                                                Status = "New";
                                                SClass = "label label-success";
                                            }
                                            else if (OItem.Status == 2)
                                            {
                                                Status = "Queue";
                                                SClass = "label label-warning";
                                            }
                                            else if (OItem.Status == 3)
                                            {
                                                Status = "Delivered";
                                                SClass = "label label-primary";
                                            }
                                            else if (OItem.Status == 4)
                                            {
                                                Status = "Finish";
                                                SClass = "label label-info";
                                            }
                                            else if (OItem.Status == 5)
                                            {
                                                Status = "Cancel";
                                                SClass = "label label-danger";
                                            }
                                            <tr>
                                                <td><a href="~/TMS/Jobs?J=1&OID=@OItem.OrderID&OT=@OItem.OrderType">@OItem.OrderID</a></td> 
                                                <td>@OItem.ReceiveDate.ToString("dd/MM/yyyy")</td>
                                                <td>@OItem.DliveryDate.ToString("dd/MM/yyyy")</td>
                                                <td>@OItem.NumberOrder</td>
                                                <td><span class="@SClass">@Status</span></td>
                                            </tr>
                                          }
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>

            <div class="col-md-6">
                <div class="box box-info" id="J2">
                    <div class="box-header with-border">
                        <h3 class="box-title">2.Select Job (@Request.QueryString["OID"])</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>

                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="table-responsive">
                                    <table class="table no-margin">
                                        <thead>
                                            @if (Request.QueryString["OT"] == "1")
                                            {
                                                <tr>
                                                    <th>เบอร์ตู้</th>
                                                    <th>ตำแหน่งวาวล์</th>
                                                    <th>Status</th>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <th>เบอร์ตู้</th>
                                                    <th>เบอร์ซีล</th>
                                                    <th>Status</th>
                                                </tr>
                                            }
                                        </thead>
                                        <tbody>
                                        @foreach (var ODItem in item.JOrderD)
                                        {
                                            String StatusD = "";
                                            String SClassD = "";
                                            if (ODItem.Status == 1)
                                            {
                                                StatusD = "New";
                                                SClassD = "label label-success";
                                            }
                                            else if (ODItem.Status == 2)
                                            {
                                                StatusD = "Queue";
                                                SClassD = "label label-warning";
                                            }
                                            else if (ODItem.Status == 3)
                                            {
                                                StatusD = "Delivered";
                                                SClassD = "label label-primary";
                                            }
                                            else if (ODItem.Status == 4)
                                            {
                                                StatusD = "Finish";
                                                SClassD = "label label-info";
                                            }
                                            else if (ODItem.Status == 5)
                                            {
                                                StatusD = "Cancel";
                                                SClassD = "label label-danger";
                                            }
                                            <tr>

                                                <td><a href="~/TMS/Jobs?J=2&OID=@Request.QueryString["OID"]&OT=@Request.QueryString["OT"]&ODID=@ODItem.ID">@ODItem.ContainerNo</a></td> 
                                               @if (Request.QueryString["OT"] =="1")
                                               {
                                                   var sPosition = "";
                                                   if(ODItem.Position == "L")
                                                   {
                                                       sPosition = "ด้านซ้าย";
                                                   }
                                                   else
                                                   {
                                                       sPosition = "ด้านขวา";
                                                   }
                                                <td>@sPosition</td>
                                               }
                                               else          
                                            {
                                                <td>@ODItem.PackNo</td>
                                            }
                                                
                                                <td><span class="@SClassD">@StatusD</span></td>
                                            </tr>
}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div id="J3">
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">3.TRUCK</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>

                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form role="form">
                                <div class="form-group">

                                    <div class="radio">

                                        <div class="col-md-3">

                                            <label>
                                                <input type="radio" name="optiosType" id="optiosType1" value="CKLINE" checked="checked" onclick="showhidediv(this);">
                                                CKLINE
                                            </label>
                                        </div>
                                        <div class="col-md-3">
                                            <label>
                                                <input type="radio" name="optiosType" id="optiosType2" value="SUB" onclick="showhidediv(this);">
                                                SUB
                                            </label>
                                        </div>

                                    </div>



                                </div>

                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <div class="box box-warning" id="Type1">
                        <div class="box-header with-border">
                            <h3 class="box-title">3.1 CKL</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>

                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form role="form">
                                <div class="form-group">
                                    <div class="table-responsive">
                                        <table class="table no-margin">
                                            <thead>
                                                <tr>
                                                    <th>หัวลาก</th>
                                                    <th>หางลาก</th>
                                                    <th>คนขับรถ</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                        @foreach (var TItem in item.JTruck)
                                        {
                                            String StatusT = "";
                                            String SClassT = "";
                                            if (TItem.TStatus == 1)
                                            {
                                                StatusT = "Avaliable";
                                                SClassT = "label label-success";
                                            }
                                            else if (TItem.TStatus == 2)
                                            {
                                                StatusT = "Queue";
                                                SClassT = "label label-warning";
                                            }
                                            else if (TItem.TStatus == 3)
                                            {
                                                StatusT = "Delivered";
                                                SClassT = "label label-primary";
                                            }
                                            else if (TItem.TStatus == 4)
                                            {
                                                StatusT = "Finish";
                                                SClassT = "label label-info";
                                            }
                                            else if (TItem.TStatus == 5)
                                            {
                                                StatusT = "Cancel";
                                                SClassT = "label label-danger";
                                            }
                                                <tr>
                                                    <td><a href="~/TMS/Jobs?J=3&OID=@Request.QueryString["OID"]&OT=@Request.QueryString["OT"]&ODID=@Request.QueryString["ODID"]&C=1&T=@TItem.TID&H=@TItem.HID&D=@TItem.DID&TD=@TItem.License&HD=@TItem.HitchLicense">@TItem.License</a></td> 
                                                    <td>@TItem.HitchLicense</td>
                                                    <td>@TItem.DTitle @TItem.DFirstName &nbsp; @TItem.DLastName</td>
                                                    <td><span class="@SClassT">@StatusT</span></td>
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <div class="box box-warning" id="Type2">
                        <div class="box-header with-border">
                            <h3 class="box-title">3.2 Sub</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>

                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form role="form">
                                <div class="form-group">
                                    <div class="table-responsive">
                                        <table class="table no-margin">
                                            <thead>
                                                <tr>
                                                    <th>รหัส Sub</th>
                                                    <th>ชื่อบริษัท</th>
                                                </tr>
                                            </thead>
                                            <tbody>
@foreach (var SItem in item.JSub)
{
    <tr>
        <td><a href="~/TMS/Jobs?J=3&OID=@Request.QueryString["OID"]&OT=@Request.QueryString["OT"]&ODID=@Request.QueryString["ODID"]&C=2&S=@SItem.SID&SC=@SItem.SCode">@SItem.SCode</a></td> 
       <td>@SItem.SName</td>
    </tr>
}
                                               
                                            

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="J4">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            @if (@Request.QueryString["C"] == "1")
                            {
                                <h3 class="box-title">4.Queue (CKLINE/@Request.QueryString["TD"])</h3>
                            }
                            else if (@Request.QueryString["C"] == "2")
                            {
                                <h3 class="box-title">4.Queue (SUB/@Request.QueryString["SC"])</h3>
                            }
                           
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>

                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form role="form">
                                <div class="form-group">
                                    <div class="table-responsive">
                                        <table class="table no-margin">
                                            <thead>
                                                <tr>
                                                    <th>Order ID</th>
                                                    <th>เบอร์ตู้</th>
                                                    <th>วันที่รับ</th>
                                                    <th>วันที่ส่ง</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
@foreach (var JItem in item.JJob)
{
    String StatusJ = "";
    String SClassJ = "";
   
    if (JItem.Status == 1)
    {
        StatusJ = "Queue";
        SClassJ = "label label-warning";
    }
    else if (JItem.Status == 2)
    {
        StatusJ = "Delivered";
        SClassJ = "label label-primary";
    }
    else if (JItem.Status  == 3)
    {
        StatusJ = "Finish";
        SClassJ = "label label-info";
    }
    else if (JItem.Status == 4)
    {
        StatusJ = "Cancel";
        SClassJ = "label label-danger";
    }
                                                <tr>
                                                    <td>@JItem.OrderID</td>
                                                    <td>@JItem.ContainerNo</td>
                                                    <td>@JItem.ReceiveDate.ToString("dd/MM/yyyy")</td>
                                                    <td>@JItem.DliveryDate.ToString("dd/MM/yyyy")</td>
                                                    <td><span class="@SClassJ">@StatusJ</span></td>
                                                    <td><button type="submit" class="btn btn-danger btn-block">Cancel</button></td>
                                                </tr>
}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    </div>
                  

                </div>
        </div>
        <div class="col-md-12">
        
            <div class="col-md-12">
                <div id="J5">
                    <div class="box box-success" >
                        <div class="box-header with-border">
                            <h3 class="box-title">5.Add Job</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>

                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form action="~/TMS/JobCommit" method="post" onsubmit="return chk_form()">

                                @foreach (var OAItem in item.JOrderA)
                                {
                                    <div class="col-md-12">

                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <label>Job No.</label>
                                                <input type="text" id="JobNo" name="JobNo" class="form-control" placeholder="xxxxxx" disabled>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Order ID</label>
                                                <input type="text" id="OrderID" name="OrderID" class="form-control" value="@OAItem.OrderID" readonly>
                                            </div>


                                        </div>
                                        &nbsp;
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <label>เบอรตู้</label>
                                                <input type="text" id="ContainerNo" name="ContainerNo" class="form-control" value="@OAItem.ContainerNo" readonly>
                                            </div>
                                            @if (OAItem.OrderType == 1)
                                            {
                                                string sPosition = "";
                                                if (@OAItem.Position == "L")
                                                {
                                                    sPosition = "ด้านซ้าย";
                                                }
                                                else if (@OAItem.Position == "R")
                                                {
                                                    sPosition = "ด้านขวา";
                                                }
                                                <div class="col-md-6">
                                                    <label>ตำแหน่งวาวล์</label>
                                                    <input type="text" id="Position" name="Position" class="form-control" value="@sPosition" readonly>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-6">
                                                    <label>เบอร์ซีล</label>
                                                    <input type="text" id="PackNo" name="PackNo" class="form-control" value="@OAItem.PackNo" readonly>
                                                </div>
                                            }


                                        </div>
                                        &nbsp;
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <label>Customer</label>
                                                <select class="form-control" id="Customer" name="Customer" placeholder="-- Select Customer --" disabled>
                                                    @*   <option value="">-- Select Customer --</option>*@

                                                    <option value="@OAItem.CustomerID">@OAItem.CustomerName</option>

                                                </select>

                                            </div>
                                            <div class="col-md-6">
                                                <label>Route</label>
                                                <select class="form-control" id="Route" name="Route" placeholder="-- Select Route --" disabled>
                                                    @*  <option value="">-- Select Route --</option>*@

                                                    <option value="@OAItem.RouteID">@OAItem.FromDetail > @OAItem.ToDetail</option>

                                                </select>

                                            </div>

                                        </div>
                                        &nbsp;

                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <label>วันที่รับ</label>
                                                <input type="text" id="ReceiveDate" name="ReceiveDate" class="form-control" value="@OAItem.ReceiveDate.ToString("dd/MM/yyyy")" readonly>
                                            </div>
                                            <div class="col-md-6">
                                                <label>วันที่ส่ง</label>
                                                <input type="text" id="DliveryDate" name="DliveryDate" class="form-control" value="@OAItem.DliveryDate.ToString("dd/MM/yyyy")" readonly>
                                            </div>

                                        </div>
                                        &nbsp;
                                    </div>
                                }
                                <div class="col-md-12">
                                    @if (Request.QueryString["C"] == "1")
                                    {

                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label>หัวลาก</label>
                                                <input type="hidden" id="TID" name="TID" class="form-control" value="@Request.QueryString["T"]" readonly>

                                                <input type="text" id="License" name="License" class="form-control" value="@Request.QueryString["TD"]" readonly>


                                            </div>
                                            <div class="col-md-3">
                                                <label>หางลาก</label>
                                                <input type="hidden" id="HID" name="HID" class="form-control" value="@Request.QueryString["H"]" readonly>

                                                <input type="text" id="HitchLicense" name="HitchLicense" class="form-control" value="@Request.QueryString["HD"]" readonly>

                                            </div>
                                            <div class="col-md-6">
                                                <label>คนขับ</label>

                                                <select class="form-control" id="Driver" name="Driver" placeholder="-- Select Customer --" disabled>
                                                    @*   <option value="">-- Select Customer --</option>*@
                                                    @foreach (var iDriver in item.JTruck)
                                                    {
                                                        if (iDriver.DID == Convert.ToInt32(@Request.QueryString["D"]))
                                                        {
                                                            <option value="@iDriver.DID">@iDriver.DTitle @iDriver.DFirstName &nbsp; @iDriver.DLastName</option>
                                                        }

                                                    }
                                                </select>

                                            </div>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Sub</label>
                                                <select class="form-control" id="Sub" name="Sub" placeholder="-- Select Customer --" disabled>
                                                    @*   <option value="">-- Select Customer --</option>*@
                                                    @foreach (var iSub in item.JSub)
                                                    {
                                                        if (@iSub.SID == Convert.ToInt32(@Request.QueryString["S"]))
                                                        {
                                                            <option value="@iSub.SID">@iSub.SName</option>
                                                        }

                                                    }
                                                </select>
                                            </div>


                                        </div>
                                    }
                                    &nbsp;

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>หมายเหตุ</label>
                                            <input type="text" id="OT" name="OT" class="form-control" value="@Request.QueryString["OT"]" readonly>
                                            <input type="text" id="ODID" name="ODID" class="form-control" value="@Request.QueryString["ODID"]" readonly>
                                            <input type="text" id="SType" name="SType" class="form-control" value="@Request.QueryString["C"]" readonly>
                                            <input type="text" id="DID" name="DID" class="form-control" value="@Request.QueryString["D"]" readonly>
                                            <input type="text" id="SID" name="SID" class="form-control" value="@Request.QueryString["S"]" readonly>
                                            <textarea id="Remark" name="Remark" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                                        </div>
                                    </div>

                                    &nbsp;

                                    <div class="form-group">
                                        <div class="box-footer clearfix">

                                            <button type="submit" class="btn btn-success btn-block" data-animation-type="bounce" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;">ADD JOB</button>
                                        </div>
                                    </div>
                                </div>



                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
       
   </div>
}
</section>
<script language="JavaScript" type="text/javascript">
    document.getElementById('Type2').style.display = 'none';

  //  document.getElementById('J').value = "Set The Text";
    var J = document.getElementById('J').value

    if (J == 1)
    {
        document.getElementById('J2').style.display = 'block';
        document.getElementById('J3').style.display = 'none';
        document.getElementById('J4').style.display = 'none';
        document.getElementById('J5').style.display = 'none';

        document.getElementById('J2').scrollIntoView();
    }
    else if (J == 2) {

        document.getElementById('J2').style.display = 'block';
        document.getElementById('J3').style.display = 'block';
        document.getElementById('J4').style.display = 'none';
        document.getElementById('J5').style.display = 'none';

        document.getElementById('J3').scrollIntoView();
    }
    else if (J == 3) {
        document.getElementById('J2').style.display = 'block';
        document.getElementById('J3').style.display = 'block';
        document.getElementById('J4').style.display = 'block';
        document.getElementById('J5').style.display = 'block';

        document.getElementById('J5').scrollIntoView();
    }
    else if (J == 4) {
        document.getElementById('J2').style.display = 'block';
        document.getElementById('J3').style.display = 'block';
        document.getElementById('J4').style.display = 'block';
        document.getElementById('J5').style.display = 'block';

        document.getElementById('J5').scrollIntoView();
    }
    else  {
        document.getElementById('J2').style.display = 'none';
        document.getElementById('J3').style.display = 'none';
        document.getElementById('J4').style.display = 'none';
        document.getElementById('J5').style.display = 'none';
    }
   
    var C = document.getElementById('C').value
    if (C == 1)
    {
        document.getElementById('optiosType1').prop("checked", "checked");
    }
    else {
        document.getElementById('optiosType2').prop("checked", "checked");
    }

    function showhidediv(rad) {
        var rads = document.getElementsByName(rad.name);
        document.getElementById('Type1').style.display = (rads[0].checked) ? 'block' : 'none';
        document.getElementById('Type2').style.display = (rads[1].checked) ? 'block' : 'none';

    }

   
</script>
