@model List<TMS.Models.OpenJob>
@{
    ViewBag.Title = "OpenJob";
}

<section class="content-header">
    <h1>
        บันทึกการปล่อยรถ
    </h1>
    @*<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>*@
</section>
<section class="content">
@foreach (var item in Model)
{

    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Latest Jobs (CKLINE)</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        @*   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Job No.</th>
                                    <th>Order ID</th>
                                    <th>เบอร์ตู้</th>
                                    <th>Route</th>
                                    <th>วันที่รับ</th>
                                    <th>วันที่ส่ง</th>
                                    <th>หัวลาก</th>
                                    <th>หางลาก</th>
                                    <th>คนขับ</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
@foreach (var Titem in item.sOpenJobT)
{
    String Status = "";
    String SClass = "";
    if (Titem.JStatus == 1)
    {
        Status = "Queue";
        SClass = "label label-warning";
    }
    else if (Titem.JStatus == 2)
    {
        Status = "Delivered";
        SClass = "label label-primary";
    }
    else if (Titem.JStatus == 3)
    {
        Status = "Finish";
        SClass = "label label-info";
    }
    else if (Titem.JStatus == 4)
    {
        Status = "Cancel";
        SClass = "label label-danger";
    }

                                <tr>
                                    <td><a href="~/TMS/OpenJobDetail">@Titem.JID</a></td>
                                    <td>@Titem.OrderID</td>
                                    <td>@Titem.ContainerNo</td>
                                    <td>@Titem.FromDetail > @Titem.ToDetail</td>      
                                    <td>@Titem.ReceiveDate.ToString("dd/MM/yyyy")</td>
                                    <td>@Titem.DliveryDate.ToString("dd/MM/yyyy")</td>
                                    <td>@Titem.License</td>
                                    <td>@Titem.HitchLicense</td>
                                    <td>@Titem.DTitle @Titem.DFirstName &nbsp; @Titem.DLastName</td>
                                    <td><span class="@SClass">@Status</span></td>
                                </tr>
}                      
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
              
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Latest Jobs (Sub Contract)</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        @*   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Job No.</th>
                                    <th>Order ID</th>
                                    <th>เบอร์ตู้</th>
                                    <th>Route</th>
                                    <th>วันที่รับ</th>
                                    <th>วันที่ส่ง</th>
                                    <th>Sub</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Sitem in item.sOpenJobS)
                                {
                                    String Status = "";
                                    String SClass = "";
                                    if (Sitem.JStatus == 1)
                                    {
                                        Status = "Queue";
                                        SClass = "label label-warning";
                                    }
                                    else if (Sitem.JStatus == 2)
                                    {
                                        Status = "Delivered";
                                        SClass = "label label-primary";
                                    }
                                    else if (Sitem.JStatus == 3)
                                    {
                                        Status = "Finish";
                                        SClass = "label label-info";
                                    }
                                    else if (Sitem.JStatus == 4)
                                    {
                                        Status = "Cancel";
                                        SClass = "label label-danger";
                                    }

                                    <tr>
                                        <td><a href="~/TMS/OpenJobDetail">@Sitem.JID</a></td>
                                        <td>@Sitem.OrderID</td>
                                        <td>@Sitem.ContainerNo</td>
                                        <td>@Sitem.FromDetail > @Sitem.ToDetail</td>
                                        <td>@Sitem.ReceiveDate.ToString("dd/MM/yyyy")</td>
                                        <td>@Sitem.DliveryDate.ToString("dd/MM/yyyy")</td>
                                        <td>@Sitem.SName</td>
                                     
                                        <td><span class="@SClass">@Status</span></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>

            </div>
            <!-- /.box -->
        </div>
    </div>
}
</section>