@*@model List<TMS.Models.OrderInfo>*@ 
@model Tuple<List<TMS.Models.OrderInfo>, List<TMS.Models.OrderDetailInfo>>
@{
    ViewBag.Title = "Order Info";
}

<section class="content-header">
    <h1>
        Order Info
    </h1>
    @*<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>*@
</section>

@foreach (var item in Model.Item1)
{
<section class="invoice">
    <!-- title row -->
    @{string OrderName = "";
      string StatusName = "";}
    @if (item.OrderType == 1)
    {
        OrderName = "Praxair";
    }
    else if (item.OrderType == 2)
    {
        OrderName = "Trucking";
    }
    else if (item.OrderType == 3)
    {
        OrderName = "Import/Export";
    }
    
    @if (item.Status == 1)
    {
        StatusName = "New";
    }
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-globe"></i>&nbsp; ORDER ID : &nbsp; @item.OrderID &nbsp; (@OrderName)
                <small class="pull-right">Order Date : &nbsp; @item.OrderDate.ToString("dd/MM/yyyy")</small>
            </h2>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->

    <div class="row invoice-info">
        <!-- /.col -->
        <div class="col-sm-12 invoice-col">
            <b>Booking No :</b>&nbsp; @item.BookingNo<br>
            <br />
            </div>
            <div class="col-sm-12 invoice-col">
                <b>Customer</b><br>

                <b>Name :</b>&nbsp; @item.CName<br>
                <b>Address :</b>&nbsp; @item.CAddress &nbsp; @item.CProvince &nbsp; @item.CZipCode<br>
                <b>Telephone :</b>&nbsp; @item.CTelephone
                <br>
            </div>
            @if (item.OrderType == 1 || item.OrderType == 3)
            {
                <div class="col-sm-12 invoice-col">
                    <br />
                    <b>Shipper</b><br>

                    <b>Name :</b>&nbsp; @item.SName<br>
                    <b>Address :</b>&nbsp; @item.SAddress &nbsp; @item.SProvince &nbsp; @item.SZipCode<br>
                    <b>Telephone :</b>&nbsp; @item.STelephone
                    <br>
                </div>
            }
            <div class="col-sm-12 invoice-col">
                <br />
                <b>Route Detail</b><br>

                <b>From :</b>&nbsp; @item.RFromDetail<br>
                <b>To :</b>&nbsp; @item.RToDetail<br>

                <br>
            </div>
        </div>
    <hr />
    <!-- /.row -->
    <!-- info row -->
    @if (item.OrderType == 1)
    {
        <div class="row invoice-info">
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
               
                <b>วันที่ออกเดินทาง :</b>&nbsp; @item.ReceiveDate.ToString("dd/MM/yyyy")<br>
                <b>วันที่บรรจุ :</b>&nbsp; @item.PPackDate.ToString("dd/MM/yyyy")<br>
                <b>วันที่ส่ง :</b>&nbsp; @item.DliveryDate.ToString("dd/MM/yyyy")<br>
                <br>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">

                <b>จำนวนตู้ :</b>&nbsp; @item.NumberOrder<br>
                <b>สถานะ :</b>&nbsp; @StatusName<br>
                <br>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">

                <b>หมายเหตุ :</b>&nbsp; @item.Remark<br>

                <br>
            </div>
            <!-- /.col -->
        
        </div>
  <hr />
    }
    else if (item.OrderType == 2)
    {
        <div class="row invoice-info">
            <!-- /.col -->
         

                @if (item.TNumberOrder1 > 0)
                {
                    <div class="col-sm-4 invoice-col">
                        <b>วันที่ลากตู้ (1)&nbsp;  : </b> &nbsp; @item.TPackDate1.ToString("dd/MM/yyyy")<br>
                        <b>จำนวนตู้ (1)&nbsp; : </b> &nbsp; @item.TNumberOrder1<br>
                        <b>ประเภทตู้ (1)&nbsp;  : </b>&nbsp;  @item.ContainerType1<br>
                        <b>จำนวนเที่ยว (1)&nbsp;  : </b>&nbsp;  @item.TRound1<br>
                     
                    </div>
                    <div class="col-sm-4 invoice-col">
                        <b>From</b>
                        <address>
                            <strong>@item.RFromDetail</strong>&nbsp;@item.RFromProvince<br>
                            <br>

                        </address>
                    </div>
                    <div class="col-sm-4 invoice-col">
                        <b>To</b>
                        <address>
                            <strong>@item.RToDetail</strong>&nbsp;@item.RToProvince<br>
                            <br>

                        </address>
                     
                    </div>
 
                }
                        @if (item.TNumberOrder2 > 0)
                        {
                            <div class="col-sm-4 invoice-col">
                                <b>วันที่ลากตู้ (2) &nbsp;: </b>&nbsp; @item.TPackDate2.ToString("dd/MM/yyyy")<br>
                                <b>จำนวนตู้ (2)&nbsp; : </b>&nbsp; @item.TNumberOrder2<br>
                                <b>ประเภทตู้ (2) &nbsp;: </b>&nbsp; @item.ContainerType2<br>
                                <b>จำนวนเที่ยว (2)&nbsp;  : </b>&nbsp;  @item.TRound2<br>
                            </div>
                            <div class="col-sm-4 invoice-col">
                                <b>From</b>
                                <address>
                                    <strong>@item.RFromDetail2</strong>&nbsp;@item.RFromProvince2<br>
                                    <br>

                                </address>
                            </div>
                            <div class="col-sm-4 invoice-col">
                                <b>To</b>
                                <address>
                                    <strong>@item.RToDetail2</strong>&nbsp;@item.RToProvince2<br>
                                    <br>

                                </address>
                            </div>
  
                        }
                        @if (item.TNumberOrder3 > 0)
                        {
                            <div class="col-sm-4 invoice-col">
                                <b>วันที่ลากตู้ (3) &nbsp; : </b>&nbsp; @item.TPackDate3.ToString("dd/MM/yyyy")<br>
                                <b>จำนวนตู้ (3)&nbsp;: </b>&nbsp; @item.TNumberOrder3<br>
                                <b>ประเภทตู้ (3) &nbsp;: </b>&nbsp; @item.ContainerType3<br>
                                <b>จำนวนเที่ยว (3)&nbsp;  : </b>&nbsp;  @item.TRound3<br>
                            </div>
                            <div class="col-sm-4 invoice-col">
                                <b>From</b>
                                <address>
                                    <strong>@item.RFromDetail3</strong>&nbsp;@item.RFromProvince3<br>
                                    <br>

                                </address>
                            </div>
                            <div class="col-sm-4 invoice-col">
                                <b>To</b>
                                <address>
                                    <strong>@item.RToDetail3</strong>&nbsp;@item.RToProvince3<br>
                                    <br>

                                </address>
                            </div>
    
                        }
                        @if (item.TNumberOrder4 > 0)
                        {
                            <div class="col-sm-4 invoice-col">
                                <b>วันที่ลากตู้ (4) &nbsp; : </b>&nbsp; @item.TPackDate4.ToString("dd/MM/yyyy")<br>
                                <b>จำนวนตู้ (4)&nbsp; : </b>&nbsp; @item.TNumberOrder4<br>
                                <b>ประเภทตู้ (4)&nbsp; : </b>&nbsp; @item.ContainerType4<br>
                                <b>จำนวนเที่ยว (4)&nbsp;  : </b>&nbsp;  @item.TRound4<br>
                            </div>
                            <div class="col-sm-4 invoice-col">
                                <b>From</b>
                                <address>
                                    <strong>@item.RFromDetail4</strong>&nbsp;@item.RFromProvince4<br>
                                    <br>

                                </address>
                            </div>
                            <div class="col-sm-4 invoice-col">
                                <b>To</b>
                                <address>
                                    <strong>@item.RToDetail4</strong>&nbsp;@item.RToProvince4<br>
                                    <br>

                                </address>
                            </div>

                        }

                    
            <!-- /.col -->
           
         
            <div class="col-sm-12 invoice-col">

                <b>หมายเหตุ :</b>&nbsp; @item.Remark<br>
              
            </div>
            <!-- /.col -->
            <div class="col-sm-12 invoice-col">

              
                <b>สถานะ :</b>&nbsp; @StatusName<br>
              
            </div>
            <!-- /.col -->
        </div>
        <hr />
    }
    else if (item.OrderType == 3)
    {
        string ieType = "";
        if (item.IEType == 1)
        {
            ieType = "Import";
        }
        else
        {
            ieType = "Export";
        }
        <div class="row invoice-info">
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">

                <b>Type :</b>&nbsp; @ieType<br>
                <br>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">

                <b>จำนวนตู้ :</b>&nbsp; @item.NumberOrder<br>
             
                <br>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <b>สถานะ :</b>&nbsp; @StatusName<br>
            
                <br>
            </div>
            <!-- /.col -->

        </div>
        <hr />
  
    <div class="row invoice-info">
        <!-- /.col -->
      
        <div class="col-sm-4 invoice-col">

        
            <b>Shipper/Consignee :</b>&nbsp; @item.IEShipper<br>
            <b>Quantity :</b>&nbsp; @item.IEQuantity<br>
            <b>Feeder Vessel :</b>&nbsp; @item.IEFeeder<br>
            <b>Mother Vessel :</b>&nbsp; @item.IEMother<br>
            <b>Port of Discharge/Loading :</b>&nbsp; @item.IELoading<br>
            <b>ETA :</b>&nbsp;@item.IEETADate.ToString("dd/MM/yyyy")<br>
            <b>ETD :</b>&nbsp; @item.IEETDDate.ToString("dd/MM/yyyy")<br>


            <b>ใบเสร็จค่าใช้จ่ายออกในนาม :</b>&nbsp; @item.IEBill<br>
            <b>ค่าผ่านท่า :</b>&nbsp; @item.IEPortPrice<br>
            <b>ค่าผ่านลาน :</b>&nbsp; @item.IELanPrice<br>
            <b>ค่า Lift on/Lift off :</b>&nbsp; @item.IELiftPrice<br>
            <b>ประมาณการค่าขนส่ง (บาท) :</b>&nbsp; @item.IESCost<br>
            <b>ประมาณการระยะทาง (กม.) :</b>&nbsp; @item.IESDistance<br>


            <br>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">

            <b>วันที่รับตู้หนัก/เปล่า :</b>&nbsp; @item.IEReceiveDate.ToString("dd/MM/yyyy")<br>
            <b>เวลารับตู้หนัก/เปล่า :</b>&nbsp; @item.IEReceiveTime<br>
            <b>AT :</b>&nbsp; @item.IEAT<br>
            <b>Contact :</b>&nbsp; @item.IEContact<br>
            <b>Tel :</b>&nbsp; @item.IETel<br>
         
        
            <br>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <b>วันที่บรรจุ/เปิดตู้ :</b>&nbsp; @item.IEPackDate.ToString("dd/MM/yyyy")<br>
            <b>เวลาบรรจุ/เปิดตู้ :</b>&nbsp; @item.IEPacklTime<br>
            <b>สถานที่ :</b>&nbsp; @item.IELocationPack<br>


            <b>วันที่คืนตู้เปล่า/หนัก :</b>&nbsp; @item.IEReturnDate.ToString("dd/MM/yyyy")<br>
            <b>AT :</b>&nbsp; @item.IELocationReceive<br>
            <b>Contact :</b>&nbsp; @item.IEShipping<br>
            <b>Tel:</b>&nbsp; @item.IETelephone<br>


            <br>
        </div>
        <!-- /.col -->

    </div>
    <hr />
    <div class="row invoice-info">
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <b>Agent :</b>&nbsp; @item.IEAgent<br>

        </div>
        <div class="col-sm-4 invoice-col">

            <b>Closing Date :</b>&nbsp; @item.IECLosingDate.ToString("dd/MM/yyyy")<br>

        </div>
        <div class="col-sm-4 invoice-col">

            <b>Closing Time :</b>&nbsp; @item.IEClosingTime<br>

        </div>

        <div class="col-sm-12 invoice-col">
            <b>หมายเหตุ :</b>&nbsp; @item.Remark<br>

            <b>ไฟล์แผนที่ :</b>&nbsp;<a href="~/MapFile/@item.IEMap" target="_blank">@item.IEMap</a><br>
        </div>
    </div>
    <hr />
    }
    <!-- /.row -->
    <!-- Table row -->

    @if (item.OrderType == 1)
    {
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                         @*   <th>ลำดับ</th>*@
                            <th>เบอร์ตู้</th>
                            <th>ตำแหน่งวาวล์</th>
                            <th>สถานะ</th>
                          
                        </tr>
                    </thead>
                    <tbody>
@foreach (var itemD in Model.Item2)
{

    string DStatusName = "";
    string SClass = "";
    if (itemD.Status == 1)
    {
        DStatusName = "New";
        SClass = "label label-success";
    }
    else if (itemD.Status == 2)
    {
        DStatusName = "Queue";
        SClass = "label label-warning";
    }
    else if (itemD.Status == 3)
    {
        DStatusName = "Delivered";
        SClass = "label label-primary";
    }
    else if (itemD.Status == 4)
    {
        DStatusName = "Finish";
        SClass = "label label-info";
    }
    else if (itemD.Status == 5)
    {
        DStatusName = "Cancel";
        SClass = "label label-danger";
    }

    string sPosition = "";
    if (itemD.Position == "L")
    {
        sPosition = "ด้านซ้าย";

    }
    else
    {
        sPosition = "ด้านขวา";

    }

                        <tr>
                            @*<td>@Model.Item2.</td>*@
                            <td>@itemD.ContainerNo</td>
                            <td>@sPosition</td>
                            <td>@DStatusName</td>
                    
                        </tr>
}    
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>


    }
    else if (item.OrderType == 2 ) 
        {
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                @*   <th>ลำดับ</th>*@
                                <th>วันที่ลากตู้</th>
                                <th>เบอร์ตู้</th>
                                <th>ประเภทตู้</th>
                                <th>สถานะ</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itemD in Model.Item2)
                            {

                                string DStatusName = "";
                                if (itemD.Status == 1)
                                {
                                    DStatusName = "New";
                                }

                                string sPosition = "";
                                if (itemD.Position == "L")
                                {
                                    sPosition = "ด้านซ้าย";

                                }
                                else
                                {
                                    sPosition = "ด้านขวา";

                                }

                                <tr>
                                    @*<td>@Model.Item2.</td>*@
                                    <td>@itemD.TPackDate.ToString("dd/MM/yyyy")</td>
                                    <td>@itemD.ContainerNo</td>
                                    <td>@itemD.ContainerType</td>
                                    <td>@DStatusName</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>


        }
    else if (item.OrderType == 3)
    {
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            @*   <th>ลำดับ</th>*@
                            <th align="center">เบอร์ตู้</th>
                            <th align="center">น้ำหนักตู้เปล่า</th>
                            <th align="center">ประเภทตู้</th>
                            <th align="center">เบอร์ซีล</th>
                            <th align="center">สถานะ</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var itemD in Model.Item2)
                        {

                            string DStatusName = "";
                            if (itemD.Status == 1)
                            {
                                DStatusName = "New";
                            }

                            string sPosition = "";
                            if (itemD.Position == "L")
                            {
                                sPosition = "ด้านซ้าย";

                            }
                            else
                            {
                                sPosition = "ด้านขวา";

                            }

                            <tr>
                                @*<td>@Model.Item2.</td>*@
                                <td>@itemD.ContainerNo</td>
                                <td align="center">@itemD.TareWeight.ToString("#,###.##")</td>
                                <td>@itemD.ContainerType</td>
                                <td>@itemD.PackNo</td>
                                <td>@DStatusName</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>


    }
    <!-- /.row -->
    @*<div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
            <p class="lead">Payment Methods:</p>
            <img src="../../dist/img/credit/visa.png" alt="Visa">
            <img src="../../dist/img/credit/mastercard.png" alt="Mastercard">
            <img src="../../dist/img/credit/american-express.png" alt="American Express">
            <img src="../../dist/img/credit/paypal2.png" alt="Paypal">
            <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg
                dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
            </p>
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
            <p class="lead">Amount Due 2/22/2014</p>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th style="width:50%">Subtotal:</th>
                        <td>$250.30</td>
                    </tr>
                    <tr>
                        <th>Tax (9.3%)</th>
                        <td>$10.34</td>
                    </tr>
                    <tr>
                        <th>Shipping:</th>
                        <td>$5.80</td>
                    </tr>
                    <tr>
                        <th>Total:</th>
                        <td>$265.24</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-xs-12">
            <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
            <button type="button" class="btn btn-success pull-right">
                <i class="fa fa-credit-card"></i> Submit Payment
            </button>
            <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
                <i class="fa fa-download"></i> Generate PDF
            </button>
        </div>
    </div>*@
</section>
}
