@model List<TMS.Models.DataRepair>
@{
    ViewBag.Title = "Repair";
}

<section class="content-header">
    <h1>
        บันทึกการแจ้งซ่อม
    </h1>
    @*<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>*@
</section>
<section class="content">


    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">ตารางการแจ้งซ่อม</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        @*   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-xs-12 table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr style="background-color:#00acd6">
                                    <th align="center"><font color="#fff">เลขที่</font></th>
                                    <th align="center"><font color="#fff">ทะเบียนรถ</font></th>
                                    <th align="center"><font color="#fff">ประเภทรถ</font></th>
                                    <th align="center"><font color="#fff">วันที่แจ้งซ่อม</font></th>
                                    <th align="center"><font color="#fff">วันที่ส่งซ่อม</font></th>
                                    <th align="center"><font color="#fff">วันที่ซ่อมเสร็จ</font></th>
                                    <th align="center"><font color="#fff">อาการเสียที่แจ้ง</font></th>
                                    <th align="center"><font color="#fff">สถานะ</font></th>

                                </tr>
                           
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    String Status = "";
                                    String SClass = "";
                                    if (item.Status == 1)
                                    {
                                        Status = "แจ้งซ่อม";
                                        SClass = "label label-danger";
                                    }

                                    else if (item.Status == 2)
                                    {
                                        Status = "ซ่อมเสร็จแล้ว";
                                        SClass = "label label-primary";
                                    }
                                    else if (item.Status == 3)
                                    {
                                        Status = "ยกเลิก";
                                        SClass = "label label-warning";
                                    }


                                    <tr onmouseover="ChangeBackgroundColor(this)" onmouseout="RestoreBackgroundColor(this)">
                                        <td><a href="~/TMS/RepairInfo?RepairNo=@item.RepairNo">@item.RepairNo</a></td>
                                        <td>@item.License</td>
                                        <td>@item.STType</td>
                                        <td>@item.InformDate.ToString("dd/MM/yyyy")</td>
                                        <td>@item.SendDate.ToString("dd/MM/yyyy")</td>
                                        @if (item.FinishTime == null)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td>@item.FinishDate.ToString("dd/MM/yyyy")</td>
                                        }

                                        <td>@item.Detail</td>
                                        <td><span class="@SClass">@Status</span></td>
                                    </tr>
                                }



                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a href="~/TMS/RepairDetail" class="btn btn-sm btn-info btn-flat pull-right">New</a>
                    <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-left">View All</a>
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>

</section>
<script type="text/javascript">

    var TableBackgroundNormalColor = "#ffffff";
    var TableBackgroundMouseoverColor = "#F3FCFE";

    // These two functions need no customization.
    function ChangeBackgroundColor(row) {
        TableBackgroundNormalColor = row.style.backgroundColor;
        row.style.backgroundColor = TableBackgroundMouseoverColor;
    }
    function RestoreBackgroundColor(row) { row.style.backgroundColor = TableBackgroundNormalColor; }
</script>