@model IEnumerable<CKLINE.Models.Transporting>

@{
    ViewBag.Title = "TransportingList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        การขนส่งประจำวัน

    </h1>

</section>

<section class="content">

    <!-- Info boxes -->

    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">รายละเอียด</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>

                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BeginDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Head)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Tail)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TankNO)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Driver)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Mobile)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Source)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Destination)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Distance)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.WorkTime)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NumberOfDriver)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BeginDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Head)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Tail)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TankNO)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Driver)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Mobile)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Source)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Destination)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Distance)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.WorkTime)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NumberOfDriver)
                                            </td>

                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a href="#" class="btn btn-sm btn-info btn-flat pull-right">Export to Excel</a>
                    <a href="@Url.Action("Transporting", "Report")" class="btn btn-sm btn-default btn-flat pull-left">View</a>
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>
